.nav-wrapper-ham {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.links-ham {
  display: inline-flex;
  justify-content: start;
  align-items: center;
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1.3rem;
  cursor: pointer;

  border-radius: 10px;
  margin-top: 1.5rem;
}

.links-ham * {
  margin: 0.3rem;
}

#exit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

#exit-btn p {
  font-size: 1.5rem;
  opacity: 0;
  visibility: hidden;
  width: 0;
  transition-duration: 0.3s;
}

#exit-btn > svg {
  color: var(--text);
  font-size: 3rem;
}

#exit-btn:hover p {
  width: 50px;
  opacity: 1;
  visibility: visible;
}
