#app {
  display: flex;
  align-items: center;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#left-navigation {
  height: 90%;
  background-color: var(--primary);
  margin: 1rem;
  border-radius: 10px;
  position: relative;
}

#left-navigation a {
  text-decoration: none !important;
  color: var(--text) !important;
}

#main-display {
  width: 80%;
  height: 90%;
  background-color: var(--primary);
  margin: 1rem;
  border-radius: 10px;
}

#main-display > div {
  margin: 1.5rem;
}

@media screen and (max-width: 649px) {
  .wrapper {
    flex-direction: column;
  }
  #left-navigation {
    height: auto !important;
    width: 90% !important;
  }
  #main-display {
    width: 90% !important;
    height: 90%;
  }
}

@media screen and (max-width: 414px) {
  #left-navigation {
    display: none;
  }
}
