* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Roboto-medium;
  src: url("./assets/fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: Roboto-regular;
  src: url("./assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto-thin;
  src: url("./assets/fonts/Roboto-Thin.ttf");
}

:root {
  --text: #eff1f0;
  --background: #040605;
  --transparent-background: #24523639;
  --primary: #9fc9af;
  --secondary: #33744d;
  --accent: #53c57f;
  --linearPrimarySecondary: linear-gradient(#9fc9af, #33744d);
  --linearPrimaryAccent: linear-gradient(to left, #9fc9af63, #53c57f);
  --linearSecondaryAccent: linear-gradient(#33744d, #53c57f);
  --radialPrimarySecondary: radial-gradient(#9fc9af, #33744d);
  --radialPrimaryAccent: radial-gradient(#9fc9af, #53c57f);
  --radialSecondaryAccent: radial-gradient(#33744d, #53c57f);

  background-color: var(--background);
  color: var(--text);
  font-family: Roboto-regular;
}
