.nav-wrapper {
  margin: 0.5rem;
}

.links {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0.3rem;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  background-color: var(--secondary);
  border-radius: 10px;
  margin-top: 1.5rem;
  transition-duration: 0.2s;
}

.links:hover {
  background-color: var(--accent);
  color: var(--background);
}

#brand-name > h2 {
  font-size: 1.2rem;
  margin: 0.5rem;
}

#account-brief {
  position: absolute;
  padding-top: 1rem;
  padding-bottom: 1rem;
  left: 0;
  bottom: 0;
  width: 100%;
  background: var(--accent);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--text);
  transition-duration: 0.2s;
}

#account-brief:hover {
  background: var(--secondary);
}

#account-brief {
  font-size: 0.8rem;
}

#account-brief p {
  padding: 5px;
}

#account-brief svg:hover {
  color: var(--background);
}

#account-brief svg {
  font-size: 1rem;
  cursor: pointer;
  padding: 5px;
}

#brand-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links * {
  margin: 0.3rem;
}

.links > svg {
  font-size: 1rem;
}

@media screen and (max-width: 786px) {
  #brand-name {
    display: none;
  }

  .links p {
    display: none !important;
  }

  .nav-wrapper {
    margin: 0;
  }

  #account-brief {
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 649px) {
  .nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .links {
    margin: 0.5rem !important;
  }

  #settings-link {
    position: relative;
  }

  #account-brief {
    position: relative;
    flex-direction: row;
    padding: 0.5rem;
    border-radius: 10px;
  }
}
